/* Style de couleurs */

:root {

    /*Général*/
    --body-color: hsl(243, 100%, 96%);
    --h1-color: rgb(60 30 126);
    --h1-shadow-color: 0 0 24px rgb(216, 138, 224, 33%);
    --secondary-tint: rgb(255, 181, 43);

    /*Toolbar*/
    --toolbar-color: hsl(243, 41%, 18%);
    --toolbar-btnmenu-color: hsl(243, 100%, 96%);
    --toolbar-text-color: hsl(243, 41%, 18%);
    --toolbar-button-color: hsl(243, 100%, 96%);

    /*Header*/
    --header-color: hsl(243, 26%, 55%);
    --header-text-color: hsl(243, 100%, 96%);
    --separator-color: hsl(243deg, 32%, 24%);

    /*Skills*/
    --skillbar-bg-color: white;
    --skill-color: hsl(243, 41%, 80%);
    
    /*Main*/
    --main-content-color: hsl(243, 41%, 18%);
    --h2-main-color: hsl(243, 41%, 18%);
}

:root.dark {

    /*Général*/
    --body-color: hsl(243deg, 32%, 24%);
    --h1-color: hsl(243, 100%, 96%);
    --h1-shadow-color: 0 0 24px rgb(216, 138, 224, 33%);
    --secondary-tint: rgb(255, 181, 43);

    /*Toolbar*/
    --toolbar-color: hsl(243, 41%, 18%);
    --toolbar-menubtn-color: hsl(243, 100%, 96%);
    --toolbar-text-color: hsl(243, 100%, 96%);
    --toolbar-button-color: hsl(243deg 38% 23%);

    /*Header*/
    --header-color: hsl(242, 22%, 49%);
    --header-text-color: hsl(243, 100%, 96%);
    --separator-color: hsl(243, 41%, 18%);

    /*Skills*/
    --skillbar-bg-color: hsl(243, 41%, 18%);
    --skill-color: hsl(243, 26%, 38%);
    
    /*Main*/
    --main-content-color: hsl(243, 100%, 96%);
    --h2-main-color: rgb(255, 181, 43);
}

:root.print {

    /*Général*/
    --body-color: hsl(0deg, 0%, 98%);
    --h1-color: hsl(0deg, 0%, 0%);
    --h1-shadow-color: 0 0 24px rgb(216, 138, 224, 33%);
    --secondary-tint: rgb(73, 73, 73);

    /*Toolbar*/
    --toolbar-color: hsl(0deg 0% 55%);
    --toolbar-menubtn-color: hsl(243, 100%, 96%);
    --toolbar-text-color: hsl(0deg, 0%, 26%);
    --toolbar-button-color: hsl(0deg, 0%, 90%);

    /*Header*/
    --header-color: hsl(0deg, 0%, 84%);
    --header-text-color: hsl(0deg, 0%, 0%);
    --separator-color: hsl(0deg, 0%, 67%);

    /*Skills*/
    --skillbar-bg-color: hsl(0deg, 0%, 100%);
    --skill-color: hsl(0deg, 0%, 76%);
    
    /*Main*/
    --h2-main-color: rgb(72, 72, 72);
    --main-content-color: hsl(0deg, 0%, 10%);
}

:root.print img{
    filter: grayscale(100%);
}

:root.print .header-picture > div {
    background-color: #585858;
}

/* Propriétés globales */

* {
    font-family: 'Alegreya Sans', Verdana, sans-serif;
}

h1, .h1 {
    color: var(--h1-color);
    font-family: 'Fredericka the Great';
    font-size: 30px;
    margin-bottom: 5px;
    position: relative;
    text-shadow: var(--h1-shadow-color);
    white-space: nowrap;
    z-index: 2;
}

h2, .h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 15px;
}

.container {
    padding-left: 8vw;
    padding-right: 8vw;
}

header, footer {
    background-color: var(--header-color);
    color: var(--header-text-color);
}

body {
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
    
    main {
        color: var(--main-content-color);
        flex: 1 1 100%;
    }

/* ------------------------------- Header */

header {
    text-align: center;
}

    header .h2{
        color: var(--h2-main-color);
        padding: 0;
        position: relative;
        z-index: 2;
    }

    header p {
        padding: 15px 0;
    }    

    header p img{
        height: 18px;
    }    

header .header-separator {
    background-color: var(--separator-color);
    border-bottom: 2px solid var(--secondary-tint);
    height: 15px;
    margin-top: 15px;
}

/* Toolbar */

.toolbar {
    align-items: center;
    background-color: var(--toolbar-color);
    display: flex;
    height: 97px;
    padding: 20px 5px 5px 5px;
    position: fixed;
    top: -15px;
    transition: transform 700ms cubic-bezier(0.51, 1.54, 0.66, 1.03) 200ms;
    width: 100%;
    z-index: 5;
}
    
    header .hidden{
        transform: translateY(-82px);
    }

header .header-aboutme {
    padding-top: 45px;
}

    .header-nav{
        flex-grow: 1;
        margin: 5px;
}

    .header-nav > ul{
        display: flex;
        justify-content: space-between;
    }

    .header-nav > ul ul{
        display: none;
    }

    .header-nav li {
        background-color: var(--toolbar-button-color);
        border: 1px solid var(--skill-color);
        color: var(--toolbar-text-color);
        display: block;
        flex-grow: 1;
        font-size: 25px;
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        }                

        .header-nav > ul li:nth-child(2),
        .header-nav > ul li:nth-child(3) {
            flex-grow: 3;
        }
    
        .header-nav a,
        .pallets{
            display: block;
            height: 100%;
            padding: 15px 0;
            text-decoration: none;
            width: 100%;
        }  
    

    .header-nav li:hover {
        background-color: var(--skill-color);
    }    
        .header-nav li:hover a,
        .header-nav li:hover .pallets i{
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.459);
            transform: scale(1.12);
            transition: transform 250ms cubic-bezier(0.56, 0, 0.52, 1.17);
        }    

    .header-nav li:focus {
        background-color: var(--header-color);
    }

    .header-nav li:active {
        background-color: var(--toolbar-color);
        color: white;
    }

    .header-nav span{
        display: none;
    }  

    /* Pallettes */ 

    .header-nav .pallets{
        position: relative;
        z-index: 1;
    }
        .header-nav li:hover .pallets ul{
            display: block;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 1;
        }

    /* Bouton Barre naviguation */ 

    .btn-menu {
        background-color: var(--toolbar-color);
        border: 3px solid var(--toolbar-btnmenu-color);
        border-radius: 3px;
        flex-shrink: 0;
        height: 50px;
        margin: 10px;
        padding: 8px;
        right: 0;
        top: 5px;
        position: fixed;
        width: 50px;
        z-index: 10;
    }

      .btn-menu i {
        color: var(--secondary-tint);
        display: block;
        font-size: 25px;
        padding-bottom: 3px;
        transition: transform 800ms cubic-bezier(0.56, 0, 0.52, 1.17);
    }

        .btn-menu:hover i {
            text-shadow: 0 0 10px var(--secondary-tint);
        }

        .btn-menu.close i{
            transform: rotateZ(-1turn);
        }

    .btn-menu-ghost {
        height: 50px;
        margin: 5px;
        width: 50px;
    }

/* Image de Profil */

.header-picture{
    display: inline-block;
    position: relative;
}

    .header-picture > div {
        background-color: green;
        border: 7px solid var(--skill-color);
        border-radius: 50%;
        bottom: 25px;
        padding: 30px;
        position: absolute;
        right: 25px;
        z-index: 3;
    }

    .header-picture button {
        border: 7px solid hsl(0deg 0% 100% / 12%);
        border-radius: 50%;
        height: 270px; 
        margin: 15px;
        overflow: hidden;
        position: relative; 
        /*transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);*/
        width: 270px;
        z-index: 2;
    }

    .header-picture picture {
        background-color: var(--skills-color);
        display: block;
    }

    @keyframes picturespin {
        from { transform: rotateZ(0); }
        to   { transform: rotateZ(3600deg); }
    }
    
    .header-picture picture img {
        opacity: 1;
        transition: 300ms ease-in-out;
        width: 100%;
    }

        .header-picture button:hover img {
            opacity: 0.8;
        }

        .header-picture button:focus img {
            animation: 1.2s cubic-bezier(0.4, 0, 0.2, 1) picturespin;
            animation-fill-mode: forwards;
            /*transform: rotateZ(3600deg);*/
        }


/* Emplacement ghost des compétences */

.header-blank{
    height: 120px;
    position: relative;
    z-index: 1;
}

/* ---------------------- Main */

/* Compétences */

    /* Réglages position et taille*/

.skills {
    background-color: var(--skill-color);
    font-weight: 700;
    height: 230px;
    left: 0;
    padding-top: 120px;
    position: absolute;
    top: 300px;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    }

    .skills .lng-skill{
        display: none;
    }

    .skills h2{
        display: none;
    }

    .skills .container{
        display: flex;
        justify-content: space-around;
    }

    .skills ul{
        margin: 30px 0;
    }

    .skills li {
        align-items: center;
        display: flex;
        }

        .skills li:nth-child(n+4) {
            display: none;
        }

        .skills ul:first-child li {
            flex-direction: row-reverse;
        }


        .skills li > div{
            background-color: var(--skillbar-bg-color);
            border: 2px solid var(--skillbar-bg-color);
            margin: 0 15px;
            width: 22vw;
        }

    /* Animation barres */

    @keyframes skillbar {
        from { transform: scaleX(0); }
        to   { transform: scaleX(1); }
    }

        .skills li > div > span{
            animation: 1.2s cubic-bezier(0.56, 0, 0.52, 1.17) skillbar;
            animation-fill-mode: forwards;
            background-color: var(--secondary-tint);
            display: block;
            padding: 3px 0;
            transform-origin: left;
            transform: scaleX(0);
        }

        /* Animation Delay */

        .skills ul > li:nth-child(2) > div > span:first-of-type{
            animation-delay: 300ms;
        }

        .skills ul > li:nth-child(3) > div > span:first-of-type{
            animation-delay: 600ms;
        }

        .skills ul > li:nth-child(4) > div > span:first-of-type{
            animation-delay: 900ms;
        }

        .skills ul > li:nth-child(5) > div > span:first-of-type{
            animation-delay: 1200ms;
        }

        .skills ul > li:nth-child(6) > div > span:first-of-type{
            animation-delay: 1500ms;
        }

        .skills ul > li:nth-child(6) > div > span:first-of-type{
            animation-delay: 1800ms;
        }

         /* Valeur des barre de compétences en % */

            .skills span.skill-html{
                width: 88%;
            }

            .skills span.skill-css{
                width: 76%;
            }

            .skills span.skill-js{
                width: 20%;
            }

            .skills span.skill-php{
                width: 70%;
            }

            .skills span.skill-angular{
                width: 50%;
            }

            .skills span.skill-unity{
                width: 86%;
            }

            .skills span.skill-anim3d{
                width: 88%;
            }

            .skills span.skill-graph{
                width: 79%;
            }

            .skills span.skill-dessin{
                width: 56%;
            }

            .skills span.skill-after{
                width: 72%;
            }

            .skills span.skill-story{
                width: 55%;
            }

            .skills span.skill-music{
                width: 60%;
            }


/* ------------------- */

/* Main */

main h2 {
    color: var(--h2-main-color);
    text-decoration-line: underline;
}

    main h2::after {
        content: " :" ;
    }

.main-content > div{
    margin-top: 15px;
}

    .main-content .container > :not(div:first-child){
        border-top: 1px solid var(--main-content-color);
    }

    .main-content .container > div:last-child{
        margin-bottom: 30px;
    }

        .main-content .container > div p{
            padding: 8px 15px 30px 15px;
            text-align: justify;
        }
        .main-content .container > div ol{
            padding: 8px 15px 30px 15px;
        }

    .main-content li:before {
        content: "☘ " ;
    }

    .main-content span {
        font-weight: 700;
    }

/* Footer */

.flex-footer .footer-hidden{
    display: none;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
}

    .footer-icons > div > a:first-of-type{
        align-items: center;
        background-color: white;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        height: 22vw;
        justify-content: center;
        text-decoration: none;
        transition: transform 700ms cubic-bezier(0.51, 1.54, 0.66, 1.03); 
        transform: translateY(-3vh);
        width: 22vw;
    }

        .footer-icons > div > a:first-of-type:hover i{
            transform: rotateZ(-10deg);
            transition: transform 700ms cubic-bezier(0.51, 1.54, 0.66, 1.03); 
        }

        .footer-icons > div > a:first-of-type:active{
            background-color: var(--toolbar-color);
        }

        .footer-icons > div > a:first-of-type:active i{
            color: white;
        }

        .footer-icons > div > a:first-of-type:focus{
            background-color: var(--skill-color);
        }

        .footer-icons i{
            color: var(--toolbar-color);
            font-size: 12vw;
            
        }

    .footer-icons > div > :not(a:first-of-type) {
        display: none;
    }       

    address {
        padding: 15px 0;
    }

/* --------------------------- MEDIA QUERIES --------------------------* /

/* ------------------------ Media-Query Tablet */

@media (min-width:768px){

/* Header */

header .container{
    padding-left: 6vw;
    padding-right: 6vw;
}

header .header-aboutme {
    align-items: center;
    display: flex;
    text-align: initial;
}

    .header-picture{
        margin: 0 4vw 0 8vw;
    }

header h2{
    color: var(--header-text-color)
}
    
    .header-nav li {
        margin: 0 5px;
    }

    .header-nav > ul li:nth-child(2) a > i,
    .header-nav > ul li:nth-child(3) a > i{
            display: none;
    }

    .header-nav > ul li:nth-child(2) span,
    .header-nav > ul li:nth-child(3) span{
            display: initial;
    }

    .header-blank{
        display: none;
    }

/* Skills */   

.skills {
    position: initial;
    padding-top: 0;
    height: auto;
}

.skills .shrt-skill{
    display: none;
}

.skills .lng-skill{
    display: initial;
}

/* Main */



/* Footer */

    .footer-icons {
        justify-content: space-evenly;
    }

        .footer-icons > div > a:first-of-type {
            height: 120px;
            margin: 20px 30px;
            transform: none;
            width: 120px;
        }

            .footer-icons i{
                font-size: 60px;
            }

    .footer-icons > div > h3:first-of-type {
        display: block; 
        text-align: center;
    }  
}

/* ------------------------ Media-Query Bureau */

@media (min-width:992px){

/* Header */

header .container{
    padding-left: 5vw;
    padding-right: 5vw;
}
    .header-nav > ul {
        justify-content: flex-end;
    }

    .toolbar .header-nav > ul li {
        flex-grow: 0;
    }    

    .toolbar .header-nav > ul a,
    .pallets {
        padding: 10px 20px;
    } 

header .container {
    padding-left: 50px;
    padding-right: 50px;
}

.header-picture {
    margin: 0 50px 0 100px;
}


/* Main */

main {
    display: flex;
}

    .main-content{
        flex-grow: 2;
    }

    /* Skills */

    .skills h2{
        color: var(--main-content-color);
        display: initial;
    }

    .skills .container {
        flex-direction: column;
        margin-top: 15px;
    }
    
    .skills li:nth-child(n+4) {
        display: flex;
    }

    .skills ul:first-child li {
        flex-direction: initial;
    }

    .skills li > div {
       width: 10vw;
    }


/* Footer */

   
  
/*  Idée de cacher une image qui dépasse derrière footer 
  qui sort lorsqu'on passe la souris. */
  
/*    footer {
        position: relative;
        z-index: 2;
    }
  
        .footer-surprise {
            top: -10px;
            mask-image: url();
            height: 150px;
            width: 150px;
            position: absolute;
            z-index: 1;
            background-color:red;
            left: 20px; 
            transition: 1s ease-in-out;
        }

        .footer-surprise:hover {
            transform: translateY(-140px);
        }
        
        */

    .flex-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
    }

    .flex-footer .footer-hidden{
        display: block;
        width: 500px;
    }

    .flex-footer form {
        padding: 8px 15px 30px 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25px 25px 3fr;
        grid-template-areas: 
        "name email"
        "title title"
        "contentF contentF";
        gap: 2px;
    }

    #form-name {
        grid-area : name;
    }

    #form-email {
        grid-area : email;
    }

    #form-subject {
        grid-area : title;
    }

    #form-content {
        grid-area : contentF;
    }


/* 
    
        .flex-footer form div{
            display: flex;
            width: 100%;
        }

 */

        .flex-footer .form-input{
            width: 100%;
            padding: 3px;
            color: var(--main-content-color);
            background-color: var(--body-color);
        }

        .flex-footer form #form-content{     
            resize: vertical;
            color: var(--main-content-color);
            background-color: var(--body-color);
        }

        .flex-footer form #form-submit{
            width: 150px;
            border-radius: 4px;
            margin: auto;
            text-align: center;
            font-weight: 700;
        }


        #form-submit:hover {
            background-color: var(--skill-color);
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.459);
        }    
            
        #form-submit:focus {
            background-color: var(--header-color);
        }

        #form-submit:active {
            background-color: var(--toolbar-color);
            color: white;
        }
    

    .footer-icons {
        display: block;
        padding: 15px;
        width: 40%;
    }

        .footer-icons > div {
           align-items: center;
           display: flex;
        }

            .footer-icons > div > a:first-of-type,
            .footer-icons button {
                background-color: transparent;
                height: 50px;
                margin: 0 15px;
                width: 50px;
            
            }

                .footer-icons i{
                    color: var(--header-text-color);
                    font-size: 25px;
                }

        .footer-icons > div > :not(button, a:first-of-type) {
            display: initial;
        }       

            .footer-icons > div > h3:first-of-type {
                display: none;
            }  


       
}

@media (min-width:1200px){

    .rallonge {
        display: inline-block;
        background-color: red;
    }

    .body-container {
        width: 1100px;
        margin: auto;
    }

    .container {
        padding: 0 50px;
    }

    main section:nth-child(1) {
        flex-grow: 1;
        background-color: var(--skill-color);
    }
    main section:nth-child(4) {
        flex-grow: 1;
    }

    .skills {
        flex : 400px 0 0;
    }    

    .main-content {
        flex : 700px 0 0;
    }

    .skills ul div {
        width: 120px;
    }
}