/* Style de couleurs */

:root {

    --btnmenu-color: hsl(243, 100%, 96%);
    --toolbar-color: hsl(243, 41%, 18%);
    --header-color: hsl(243, 26%, 55%);
    --abilities-color: hsl(243, 41%, 80%);
    --body-color: hsl(243, 100%, 96%);
    --text-header-color: hsl(243, 100%, 96%);
    --toolbar-button-color: hsl(243, 100%, 96%);
    --text-toolbar-color: hsl(243, 41%, 18%);
    --text-content-color: hsl(243, 41%, 18%);
    --h1-shadow: 0 0 24px rgb(216, 138, 224, 33%);
    --h1-color: rgb(53, 44, 73);
    --secondary-tint: rgb(255, 181, 43);
    --skillbar-bg: white;
    --main-h2-color: hsl(243, 41%, 18%);
}

:root.dark {
    --toolbar-color: hsl(243, 41%, 18%);
    --header-color: hsl(242, 22%, 49%);
    --abilities-color: hsl(243, 26%, 38%);
    --body-color: hsl(243, 41%, 18%);
    --text-header-color: hsl(243, 100%, 96%);
    --toolbar-button-color: hsl(243deg 38% 23%);
    --text-toolbar-color: hsl(243, 100%, 96%);
    --text-content-color: hsl(243, 100%, 96%);
    --h1-shadow: 0 0 24px rgb(216, 138, 224, 33%);
    --h1-color: hsl(243, 100%, 96%);
    --secondary-tint: rgb(255, 181, 43);
    --skillbar-bg: hsl(243, 41%, 18%);
    --main-h2-color: rgb(255, 181, 43);
}

:root.print {
    --toolbar-color: hsl(0deg 0% 55%);
    --header-color: hsl(0deg 0% 84%);
    --abilities-color: hsl(0deg 0% 76%);
    --body-color: hsl(0deg 0% 98%);
    --text-header-color: hsl(0deg 0% 0%);
    --toolbar-button-color: hsl(0deg 0% 90%);
    --text-toolbar-color: hsl(0deg 0% 26%);
    --text-content-color: hsl(0deg 0% 10%);
    --h1-shadow: 0 0 24px rgb(216, 138, 224, 33%);
    --h1-color: hsl(0deg 0% 0%);
    --secondary-tint: rgb(255, 181, 43);
    --skillbar-bg: hsl(0deg 0% 100%);
    --main-h2-color: rgb(72 72 72);
}

/* Propriétés globales */

* {
    font-family: 'Alegreya Sans', Verdana, sans-serif;
}

h1, .h1 {
    font-family: 'Fredericka the Great';
    white-space: nowrap;
    z-index: 2;
    position: relative;
    font-size: 30px;
    color: var(--h1-color);
    text-shadow: var(--h1-shadow);
    margin-bottom: 5px;
}

h2, .h2 {
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 15px 0;
}

main h2 {
    color: var(--main-h2-color);
    text-decoration-line: underline;
    
}
    main h2::after {
        content: " :" ;
    }

.container {
    padding-left: 8vw;
    padding-right: 8vw;
}

header, footer {
    background-color: var(--header-color);
    color: var(--text-header-color);
}

    header .h2{
        color: var(--main-h2-color);
        padding: 0;
        z-index: 2;
        position: relative;
    }



.skills {
    background-color: var(--abilities-color);
}

body {
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
    
    main {
        color: var(--text-content-color);
        flex: 1 1 100%;
    }

/* Header */

header {
    text-align: center;
}

header .header-separator {
    height: 15px;
    background-color: var(--text-content-color);
    border-bottom: 2px solid var(--secondary-tint);
    margin-top: 15px;
}

.full-toolbar{
    position: relative;
    z-index: 1;
}

.toolbar {
    align-items: center;
    background-color: var(--toolbar-color);
    display: flex;
    padding: 20px 5px 5px 5px;
    position: fixed;
    height: 97px;
    width: 100%;
    top: -15px;
    z-index: 5;
    transition: transform 700ms cubic-bezier(0.51, 1.54, 0.66, 1.03) 200ms;
}
    
    header .hidden{
        transform: translateY(-82px);
    }

header .header-aboutme {
    margin-top: 45px;
}

    .header-nav{
        flex-grow: 1;
        margin: 5px;
}

    .header-nav > ul{
        display: flex;
        justify-content: space-between;
    }

    .header-nav > ul ul{
        display: none;
    }

    .header-nav li {
        background-color: var(--toolbar-button-color);
        color: var(--text-toolbar-color);
        display: block;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 800;
        text-decoration: none;
        border: 1px solid var(--abilities-color);
        flex-grow: 1;
        }                

        .header-nav > ul li:nth-child(2),
        .header-nav > ul li:nth-child(3) {
            flex-grow: 3;
        }
    
        .header-nav a,
        .pallets{
            display: block;
            height: 100%;
            padding: 15px 0;
            width: 100%;
            text-decoration: none;
        }  
    

    .header-nav li:hover {
        background-color: var(--abilities-color);
    }    
        .header-nav li:hover a,
        .header-nav li:hover .pallets i{
            transition: transform 250ms cubic-bezier(0.56, 0, 0.52, 1.17);
            transform: scale(1.12);
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.459);
        }    

    .header-nav li:focus {
        background-color: var(--header-color);
    }

    .header-nav li:active {
        background-color: var(--toolbar-color);
        color: white;
    }

    .header-nav span{
        display: none;
    }  

    /* Pallettes */ 

    .header-nav .pallets{
        position: relative;
        z-index: 1;
    }
        .header-nav li:hover .pallets ul{
            display: block;
            position: absolute;
            z-index: 1;
            top: 100%;
            width: 100%;
            left: 0;
        }

    /* Bouton Barre naviguation */ 

    .btn-menu {
        background-color: var(--toolbar-color);
        border: 3px solid var(--btnmenu-color);
        border-radius: 3px;
        flex-shrink: 0;
        height: 50px;
        margin: 10px;
        padding: 8px;
        position: fixed;
        width: 50px;
        right: 0;
        top: 5px;
        z-index: 10;
    }

      .btn-menu i {
        color: var(--secondary-tint);
        display: block;
        font-size: 25px;
        padding-bottom: 3px;
        transition: transform 800ms cubic-bezier(0.56, 0, 0.52, 1.17);
    }

        .btn-menu:hover i {
            text-shadow: 0 0 10px var(--secondary-tint);
        }

      .btn-menu.close i{
        transform: rotateZ(-360deg);
      }
     

    /*
        .btn-menu span{
            background-color: var(--btnmenu-color);
            border-radius: 3px;
            display: block;
            padding: 2px 0;
        }

    */

    .btn-menu-ghost {
        height: 50px;
        margin: 5px;
        width: 50px;
    }


/* Image de Profil */

.header-picture{
    display: inline-block;
    position: relative;
}

    .header-picture > div {
        position: absolute;
        padding: 30px;
        background-color: green;
        border-radius: 50%;
        border: 7px solid var(--abilities-color);
        bottom: 25px;
        right: 25px;
        z-index: 3;
    }

    .header-picture img {
        border-radius: 50%;
        max-height: 270px;
        margin: 15px;
        z-index: 2;
        position: relative; 
        transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
        border: 7px solid var(--header-color);
    }

        .header-picture:hover img {
            color: var(--abilities-color);
        }

        .header-picture:active img {
            transform: rotateZ(3600deg);
        }


/* Emplacement ghost des compétences */

.header-blank{
    position: relative;
    height: 120px;
    z-index: 1;
}

header p {
    padding: 15px 0;
}
    

/* ---------------------- Main */

/* Compétences */
    /* Réglages position et taille*/

.skills {
    position: absolute;
    height: 230px;
    width: 100%;
    z-index: 1;
    top: 300px;
    padding-top: 120px;
    left: 0;
    font-weight: 700;
    white-space: nowrap;
}

.skills .lng-skill{
    display: none;
}

.skills h2{
    display: none;
}

.skills .container{
    display: flex;
    justify-content: space-around;
}

.skills ul{
    margin: 30px 0;
}

.skills li {
    align-items: center;
    display: flex;
}

    .skills li:nth-child(n+4) {
        display: none;
    }

    .skills ul:first-child li {
        flex-direction: row-reverse;
    }


    .skills li > div{
        background-color: var(--secondary-tint);
        border: 2px solid var(--skillbar-bg);
        margin: 0 15px;
        width: 22vw;
    }

/* Animation barres */

        .skills li > div > span{
            background-color: var(--skillbar-bg);
            display: block;
            padding: 3px 0;
            transition: transform 1.2s cubic-bezier(0.56, 0, 0.52, 1.17);
            transform-origin: 101%;
            transform: scaleX(1);
        }

    /* Animation Delay */

        .skills ul > li:nth-child(2) > div > span:first-of-type{
            transition-delay: 300ms;
        }

        .skills ul > li:nth-child(3) > div > span:first-of-type{
            transition-delay: 600ms;
        }

        .skills ul > li:nth-child(4) > div > span:first-of-type{
            transition-delay: 900ms;
        }

        .skills ul > li:nth-child(5) > div > span:first-of-type{
            transition-delay: 1200ms;
        }

        .skills ul > li:nth-child(6) > div > span:first-of-type{
            transition-delay: 1500ms;
        }

/* Valeur des barre de compétences n% => scaleX(1 - n/100) */

            .skills span.skill-html{
                transform: scaleX(0.18);
            }

            .skills span.skill-css{
                transform: scaleX(0.24);
            }

            .skills span.skill-js{
                transform: scaleX(0.8);
            }

            .skills span.skill-php{
                transform: scaleX(0.3);
            }

            .skills span.skill-angular{
                transform: scaleX(0.5);
            }

            .skills span.skill-unity{
                transform: scaleX(0.14);
            }

            .skills span.skill-anim3d{
                transform: scaleX(0.11);
            }

            .skills span.skill-graph{
                transform: scaleX(0.21);
            }

            .skills span.skill-dessin{
                transform: scaleX(0.44);
            }

            .skills span.skill-after{
                transform: scaleX(0.28);
            }

            .skills span.skill-story{
                transform: scaleX(0.45);
            }

            .skills span.skill-music{
                transform: scaleX(0.4);
            }


/* ------------------- */

/* Main */

.main-content > div{
    margin-top: 15px;
}

    .main-content .container > :not(div:first-child){
        border-top: 1px solid var(--text-content-color);
    }

    .main-content .container > div:last-child{
        margin-bottom: 30px;
    }

.main-content .container > div p{
    padding: 15px 15px 30px 15px;
    text-align: justify;
}
.main-content .container > div ol{
    padding: 15px 15px 30px 15px;
}

    .main-content li:before {
        content: "☘" ;
    }

    .main-content span {
        font-weight: 700;
    }

/* Footer */

.footer-icons {
    display: flex;
    justify-content: space-between;
}

    .footer-icons > div > a:first-of-type{
        border-radius: 50%;
        background-color: white;
        height: 22vw;
        width: 22vw;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-3vh);
        text-decoration: none;
        transition: transform 700ms cubic-bezier(0.51, 1.54, 0.66, 1.03); 
    }

        .footer-icons > div > a:first-of-type:hover i{
            transition: transform 700ms cubic-bezier(0.51, 1.54, 0.66, 1.03); 
            transform: rotateZ(-10deg);
        }

        .footer-icons > div > a:first-of-type:active{
            background-color: var(--toolbar-color);
        }

        .footer-icons > div > a:first-of-type:active i{
            color: white;
        }

        .footer-icons > div > a:first-of-type:focus{
            background-color: var(--abilities-color);
        }

        .footer-icons i{
            color: var(--toolbar-color);
            font-size: 12vw;
            
        }

    .footer-icons > div > :not(a:first-of-type) {
        display: none;
    }       

    address {
        padding: 15px 0;
    }

/* --------------------------- MEDIA QUERIES --------------------------* /

/* ------------------------ Media-Query Tablet */

@media (min-width:768px){

/* Header */

header .container{
    padding-left: 6vw;
    padding-right: 6vw;
}

header .header-aboutme {
    align-items: center;
    display: flex;
    text-align: initial;
}

    .header-picture{
        margin: 0 4vw 0 8vw;
    }

header h2{
    color: var(--text-header-color)
}
    
    .header-nav li {
        margin: 0 5px;
    }

    .header-nav > ul li:nth-child(2) a > i,
    .header-nav > ul li:nth-child(3) a > i{
            display: none;
    }

    .header-nav > ul li:nth-child(2) span,
    .header-nav > ul li:nth-child(3) span{
            display: initial;
    }

    .header-blank{
        display: none;
    }

/* Skills */   

.skills {
    position: initial;
    padding-top: 0;
    height: auto;
}

.skills .shrt-skill{
    display: none;
}

.skills .lng-skill{
    display: initial;
}

/* Main */



/* Footer */

    .footer-icons {
        justify-content: space-evenly;
    }

        .footer-icons > div > a:first-of-type {
            height: 120px;
            margin: 20px 30px;
            transform: none;
            width: 120px;
        }

            .footer-icons i{
                font-size: 60px;
            }

    .footer-icons > div > h3:first-of-type {
        display: block; 
        text-align: center;
    }  
}

/* ------------------------ Media-Query Bureau */

@media (min-width:992px){

/* Header */

header .container{
    padding-left: 5vw;
    padding-right: 5vw;
}
    .header-nav > ul {
        justify-content: flex-end;
    }

    .toolbar .header-nav > ul li {
        flex-grow: 0;
    }    

    .toolbar .header-nav > ul a,
    .pallets {
        padding: 10px 20px;
    } 

/* Main */

main{
    display: flex;
}

    .main-content{
        flex-grow: 2;
    }

    /* Skills */

    .skills h2{
        display: initial;
        color: var(--text-content-color)
    }

    .skills .container {
        flex-direction: column;
        margin-top: 15px;
    }
    
    .skills li:nth-child(n+4) {
        display: flex;
    }

    .skills ul:first-child li {
        flex-direction: initial;
    }

    .skills li > div {
       width: 10vw;
    }


/* Footer */

    .footer-icons {
        display: block;
        margin: auto;
        padding: 15px;
        width: 40%;
    }

        .footer-icons > div {
           display: flex;
           align-items: center;
        }

            .footer-icons > div > a:first-of-type,
            .footer-icons button {
                background-color: transparent;
                height: 50px;
                width: 50px;
                margin: 0 15px;
            
            }

                .footer-icons i{
                    color: var(--text-header-color);
                    font-size: 25px;
                }

        .footer-icons > div > :not(button, a:first-of-type) {
            display: initial;
        }       

            .footer-icons > div > h3:first-of-type {
                display: none;
            }  

}